# =========================
# CMake & Build
# =========================
build/
out/
compile_commands.json

# =========================
# Visual Studio Cache & Settings
# =========================
.vs/
CMakeSettings.json

# =========================
# Clangd / Editor Cache
# =========================
.cache/
